<!DOCTYPE html>
<html lang="es">

<head>
  <!-- META TAGS -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Fábrica de hornos rotativos para panaderías" />
  <meta name="keywords" content="hornos rotativos, hornos rotativos para panaderías" />
  <meta name="copyright" content="a&d hornos rotativos" />
  <meta name="robots" content="" />
  <meta name="author" content="Ramiro C. Pezzone" />


  <!-- HOJA/S DE ESTILO -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <!-- FUENTES EXTERNAS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- FAVICON -->
  <link rel="shortcut icon" href="/images/logoayd.ico" type="image/x-icon">

  <!-- TITULO -->
  <title>A&D Hornos rotativos</title>

  <!--CÓDIGO DE MÉTRICAS DE GOOGLE-->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-208781584-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-208781584-1');
  </script>

</head>

<body>
  
  <div class="contenedor-gral-nav-oculto">
    <div class="fondo-para-contenedor-menu-hamb">
    </div>
    <div class="menu-hamburguesa">
    </div>
    <div class="contenedor-nav-oculto">
      <ul>
        <a href="#nosotros" class="link-nav">
          <li>Nosotros</li>
        </a>
        <div class="contenedor-relativo-nav-productos">
          <a>
            <li class="opciones-submenu">Productos <span class="flecha-productos">⯆</span> </li>
          </a>
          
          <div class="submenu-nav-productos">
            <p class="categorias-en-submenu">Hornos rotativos</p><br><br>
            <% for( let i=0; i < productos.length; i++ ) { %>
              <a href="#producto<%= i+1 %>" class="link-submenu">
                <%= productos[i].titulo%><br><br>
              </a>
              <% } %>

            </div>
          </div>
          <a href="#opiniones" class="link-nav">
            <li>Opiniones</li>
          </a>
          <a href="#contacto" class="link-nav">
            <li>Contacto</li>
          </a>
        </ul>
      </div>
    </div>
    
    <nav class="nav-fijo">
    <div class="nav-fijo-contenedor-enlaces">
      <ul>
        <a href="#" class="link-home"><img src="/images/home-icon-.png" alt=""></a>
        <a href="#nosotros">
          <li>Nosotros</li>
        </a>
        <a href="#productos" class="productos-nav-fijo">
          <li>Productos</li>
        </a>
        <a href="#opiniones">
          <li>Opiniones</li>
        </a>
        <a href="#contacto">
          <li>Contacto</li>
        </a>
      </ul>
    </div>
  </nav>

  <div id="capa">
    <div class="ventana-mensaje">
      <div class="title">Tu consulta fue enviada correctamente!</div>
      <div class="text">Gracias por tu consulta, a la brevedad nos pondremos en contacto</div>
      <div class="buttons">
        <input type="button" class="button" value="Aceptar" id="ok">&nbsp;
      </div>
    </div>
  </div>

  <div class="logo-principal">
  </div>

  <a href="https://wa.link/wnb7bg" class="whatsapp-sticky">
    <div class="contenedor-whatsapp-flotante"></div>
  </a>

  <div id="nosotros"></div>
  <div class="contenedor-nosotros">
    <div class="presentacion-nosotros">
      <h1>
        Somos una empresa familiar dedicada a la fabricación de hornos rotativos para panaderías con mas de 8
        años de experiencia en el rubro.
      </h1>
      <h1>
        Apostamos a la mejoría contínua para ofrecerle a nuestros clientes un producto de calidad y de alta
        tecnología.
      </h1>
      <h1>
        Nos caracterizamos por nuestros buenos precios, excelente calidad y por atender las necesidades
        específicas de cada cliente, ya que al ser fabricantes directos cada unidad puede ser perfectamente
        personalizable de acuerdo al requerimiento de cada uno.
      </h1>
    </div>
  </div>

  <div id="productos"></div>
  <h2 class="titulo-section-productos">Nuestros productos</h2>
  <div class="contenedor-caracteristicas-generales">
    <div class="contenedor-h3-caracteristicas-generales">
      <h3>Todos nuestros hornos rotativos comparten las siguientes características:
      </h3>
    </div>
    <div class="contenedor-btn-expandir-caracteristicas-generales">
      <button class="expandir-caracteristicas-generales">Expandir/contraer información</button>
    </div>
    <p>
      <span>Estructura general:</span> Fabricado totalmente de acero inoxidable. Turbina con conducto de calor y cortina
      de viento regulable.<span class="puntos-suspensivos">...</span>
    </p>
    <div class="caracteristicas-generales-ocultas">
      <p>Cámara de combustión de alto rendimiento.</p>
      <p>Garantizada una perfecta cocción por medio de su cortina de viento regulable.</p>
      <p><span> Aislación térmica:</span> lana de vidrio mineral. Y cartón mineral.</p>
      <p><span>Bandejas:</span> Admiten bandejas de 0,70 x 0,45 (no incluidas), separadas por una distancia de 10 cm,
        estimándonse una capacidad promedio de 2,5kg por cada una.</p>
      <p><span>Tiempo de producción:</span> Aproximadamente de 20 minutos entre cada horneada</p>

      <p><span>Combustible:</span> Pueden ser alimentados tanto por gas natural como por gas envasado (a coordinar)</p>
      <p><span>Motores:</span></p>
      <p>Turbina: 1/2” HP, 2800 rpm.</p>
      <p>Motorreductor: 1/4” HP, 1500 rpm. Reductor wmi 40-1-80</p>
      <p>Ambos blindados, de características industriales, montados sobre rulemanes y ventilados con ejes prolongados.
      </p>
      <p><span>Quemadores:</span> Sus quemadores cuentan con corte automático totalmente programable, válvula de
        seguridad industrial y electroválvula Jefferson. Cuentan con encendido por medio de pulsador generador de
        chispa.</p>
      <p>
        <span>Puertas:</span> cuentan con vidrio templado de 10 mm, lo que permite una total visualización del interior
        del horno, manija de fácil manipulación y empuñadura de teflón, burletes de silicona para alta temperatura de
        gran prestación hermética y en su interior cuenta con estructura metálica y aislación por medio de lana de
        vidrio mineral.
      </p>
      <p><span>Tablero:</span> control digital de temperatura y tiempo. Alarma. Turbina. Rotor. Luz. Pulsador para
        vapor. Llave general térmica.</p>
    </div>
  </div>
  </h4>
  <section class="section-productos">
    <% for( let i=0; i < productos.length; i++ ) { %>
    <div class="contenedor-item-producto" id="producto<%=i+1%>"></div>
    <div class="item-producto">

      <div class="contenedor-flex-item-producto">
        <div class="item-producto-titulo">
          <h2>
            <%= productos[i].titulo %>
          </h2>
        </div>

        <div class="item-producto-imagen">
          <img src="/images/<%=productos[i].imagen%>" alt="">
        </div>


        <div class="item-producto-detalles">
          <h3 class="item-producto-detalles-detalle"><span class="item-producto-detalles-sub"> Medidas: </span> <br>
          </h3>
          <p class="item-producto-detalles-detalle">
            <%= productos[i].medidas.ancho%>
          </p>
          <p class="item-producto-detalles-detalle">
            <%= productos[i].medidas.profundidad%>
          </p>
          <p class="item-producto-detalles-detalle">
            <%= productos[i].medidas.altoHorno%>
          </p>
          <p class="item-producto-detalles-detalle">
            <%= productos[i].medidas.altoBase%>
          </p>
          <p class="item-producto-detalles-detalle">
            <%= productos[i].medidas.altoTotal%>
          </p>
          <span class="obs item-producto-detalles-detalle">
            <p>
              <%= productos[i].medidas.obs%>
            </p>
          </span>

          <h3 class="item-producto-detalles-detalle"><span class="item-producto-detalles-sub"> Bandejas: </span> <br>
          </h3>
          <p class="item-producto-detalles-detalle">
            <%= productos[i].bandejas.cantidad%>
          </p>

          <h3 class="item-producto-detalles-detalle"><span class="item-producto-detalles-sub"> Producción promedio:
            </span> <br></h3>
          <p class="item-producto-detalles-detalle">
            <%= productos[i].produccionPromedio.estimado%>
          </p>

          <h3 class="item-producto-detalles-detalle"><span class="item-producto-detalles-sub"> Electricidad: </span>
            <br>
          </h3>
          <p class="item-producto-detalles-detalle">
            <%= productos[i].electricidad.opcional%>
          </p>

          <h3 class="item-producto-detalles-detalle"><span class="item-producto-detalles-sub"> Quemador: </span> <br>
          </h3>
          <p class="item-producto-detalles-detalle">
            <%= productos[i].quemador.quemador%>
          </p>
        </div>
      </div>
    </div>

    <% } %>
    </div>

  </section>

  <div id="opiniones"></div>
  <section class="section-opiniones">
    <h3 class="titulo-opiniones">Nuestros clientes opinan</h3>


    <div id="carouselExampleDark" class="carousel carousel-dark slide carrusel" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="images/carrusel-imgs/opinion1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/carrusel-imgs/opinion2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/carrusel-imgs/opinion3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="flecha-derecha-carrusel">˂</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="flecha-izquierda-carrusel">˃</span>
      </button>
    
    </div>


  </section>



  <!-- FORMULARIO DE CONTACTO -->
  <div id="contacto"></div>
  <section class="contenedor-general-contacto">


    <div class="contenedor-form-contacto-max-w">
      <h3>Contacto</h3>
      <div class="contenedor-formulario-de-contacto">
        <form id="MiFormulario" action="/enviarConsulta" method="post">
          <div class="contenedor-nombre-completo row item-form">
            <label for="nombre" class="col-sm-12 col-md-4">
              Nombre completo
            </label>
            <input type="text" name="nombreCompleto" autocomplete="username" class="nombre-completo col-sm-12 col-md-8" placeholder="Ej: Mariano Perez" required>
          </div>
          <div class="contenedor-telefono row item-form">
            <label for="telefono" class="col-sm-12 col-md-4">
              Teléfono
            </label>
            <input type="tel" name="tel" class="telefono col-sm-12 col-md-8" placeholder="Ej: 3424123456" required>
          </div>
          <div class="contenedor-email row item-form">
            <label for="email" class="col-sm-12 col-md-4">
              Correo electrónico
            </label>
            <input type="email" name="email" class="email col-sm-12 col-md-8" placeholder="Ej: aydhornosrotativos@gmail.com">
          </div>
          <div class="contenedor-consulta row item-form">
            <label for="consulta" class="consulta col-sm-12 col-md-4">
              Ingrese su consulta
            </label>
            <textarea name="consulta" id="" cols="30" rows="10" class="col-sm-12 col-md-8" required></textarea>
          </div>
          <div class="contenedor-btn-form">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="contenedor-flex-contacto">
      <div class="iframe-mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3396.8073916172157!2d-60.6157217!3d-31.6391236!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5ab30ce354db1%3A0x2d222690d8b20256!2sHornos%20Rotativos%20A%26D!5e0!3m2!1ses!2sar!4v1639392116520!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

      <div class="contenedor-flex-datos-contacto">
        <div class="contenedor-direccion contenedor-datos-contacto">
          <div class="ico-direccion iconos">
          </div>
          <div class="direccion">
            <p>Corondas 5655</p>
            <p>E/ S. Franc. de Asís y Guaraníes</p>
            <p>Colastiné Norte, Santa Fe</p>
          </div>
        </div>
        <div class="contenedor-telefono contenedor-datos-contacto">
          <div class="ico-telefono iconos"></div>
          <div class="telefono">
            <a href="tel: +54 9 342 5 67-6307">
              <p>+54 9 342 5 67-6307</p>
            </a>
          </div>
        </div>
        <div class="contenedor-whatsapp contenedor-datos-contacto">
          <div class="ico-whatsapp iconos"></div>
          <div class="whatsapp">
            <a href="https://wa.link/wnb7bg" target="_blank">
              <p>Enviar WhatsApp</p>
            </a>
          </div>
        </div>
        <div class="contenedor-email contenedor-datos-contacto">
          <div class="ico-email iconos"></div>
          <div class="email">
            <a href="mailto:aydhornosrotativos@gmail.com">
              <p>aydhornosrotativos@gmail.com</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contenedor-general-redes-sociales">
    <h3>Seguinos en nuestras RRSS</h3>
    <div class="contenedor-flex-redes-sociales">
      <a href="https://www.facebook.com/ayahornosrotativosymaq.industriapanaderil" target="_blank">
        <div class="contenedor-facebook"></div>
      </a>
      <a href="https://www.instagram.com/aydhornosrotativos/?hl=es" target="_blank" class="a-footer">
        <div class="contenedor-instagram"></div>
      </a>
    </div>
  </section>

  <section class="contenedor-gral-footer">
    <div class="footer-info">
      <div class="footer-texto">
        <p>&#169 copyright A&D Hornos Rotativos 2021</p>
        <p><span id="rayo">⚡</span>Powered by <a href="https://www.linkedin.com/in/ramiro-c-pezzone-desarrollador-web/">Ramiro
            Pezzone</a></p>
      </div>
    </div>

  </section>
  <script src="js/manipulacionDelDom.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>